<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #D9FFDF; 
            padding: 20px;
        }
        h1 {
            color: #333;
            text-align: center;
        }
        .cart-items {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .cart-item {
            background-color: #FFDDDD; 
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 10px;
            margin-bottom: 15px;
        }
        .cart-item h2 {
            color: #333;
            font-size: 1.2em; 
            margin-bottom: 5px;
        }
        .cart-item p {
            color: #666;
            margin-bottom: 5px;
        }
        .checkoutButton {
            background-color: #FFFFCF; 
            color: #333;
            border: none;
            padding: 12px 24px;
            cursor: pointer;
            border-radius: 4px;
            display: block;
            margin: 20px auto;
        }
        .checkoutButton:hover {
            background-color: #FFF0CF; 
        }
    </style>
</head>
<body>
    <ul class="cart-items">
        {{#each productsDetails}}
        <li class="cart-item">
            <h2>{{this.title}}</h2>
            <p>Precio: ${{this.price}}</p>
            <p>Cantidad: {{this.quantity}}</p>
        </li>
        {{/each}}
    </ul>
    <div >
        <strong>Total:</strong> ${{totalPrice}}
    </div>
    <button class="checkoutButton" id="checkoutButton">Finalizar Compra</button>
    <script>
        document.getElementById('checkoutButton').addEventListener('click', async function() {
            try {
                const cartId = '{{cartId}}'; 

                const response = await fetch(`/api/carts/${cartId}`, { 
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                const data = await response.json();

                if (response.ok) {
                    Swal.fire('', 'Compra realizada', 'success');
                    window.location.href = `/api/carts/${cartId}/purchase`;
                } else {
                    console.error('Error al procesar la compra:', data.error);
                    Swal.fire('', 'Error al procesar la compra', 'error');
                }

            } catch (error) {
                console.error('Error al procesar la compra:', error);
                Swal.fire('', 'Error al procesar la compra', 'error');
            }
        });
    </script>
</body>
</html>
