<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #D9FFFF; 
            padding: 20px;
        }
        h1 {
            color: #333;
            text-align: center;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
        .card {
            background-color: #FFFFCF; 
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 300px;
            padding: 20px;
            text-align: center;
            transition: transform 0.3s ease;
        }
        .card:hover {
            transform: translateY(-5px); 
        }
        .card img {
            max-width: 100%;
            border-radius: 8px;
            margin-bottom: 15px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        .card h2 {
            color: #333;
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        .card p {
            color: #666;
            line-height: 1.4;
        }
        .quantityWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .quantityButton {
            background-color: #f5aeae; /* Color de botón */
            color: #333;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }
        .quantityButton:hover {
            background-color: #f8d0d0; 
        }
        .quantityInput {
            width: 25px;
            text-align: center;
            -moz-appearance: textfield; /* Firefox */
        }
        .quantityInput::-webkit-outer-spin-button,
        .quantityInput::-webkit-inner-spin-button {
            -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
            margin: 0;
        }
        .addToCartButton {
            background-color: #f5aeae; /* Color de botón */
            color: #333;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            margin-top: 10px;
        }
        .addToCartButton:hover {
            background-color: #f8d0d0; /* Color de botón al pasar el mouse */
        }
    </style>
</head>
<body>
    <div class="container">
    {{#each products}}
    <div class="card">
        <img src="/uploads/assets/{{thumbnail}}" alt="Imagen del producto">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Precio: ${{price}}</p>
        <p>Stock: {{stock}}</p>
        <div class="quantityWrapper">
            <button class="quantityButton" data-id="{{_id}}" data-change="-1">-</button>
            <input type="number" class="quantityInput" id="quantityInput-{{_id}}" value="1" min="1" max="{{stock}}">
            <button class="quantityButton" data-id="{{_id}}" data-change="1">+</button>
        </div>
        <button class="addToCartButton" data-productid="{{_id}}">Agregar al Carrito</button>
    </div>
    {{/each}}
    </div>

    <div>
        {{#if hasPrevPage}}
        <a href="{{this.prevLink}}">&lt;&lt; Anterior</a>
        {{/if}}
        &nbsp; {{this.page}} &nbsp;
        {{#if hasNextPage}}
        <a href="{{this.nextLink}}">Siguiente &gt;&gt;</a>
        {{/if}}
    </div>

    <script>
    function updateQuantity(id, change) {
        const input = document.getElementById(`quantityInput-${id}`);
        const newValue = parseInt(input.value) + change;
        if (newValue >= 1 && newValue <= parseInt(input.max)) {
            input.value = newValue;
        }
    }

    document.querySelectorAll('.quantityButton').forEach(button => {
        button.addEventListener('click', () => {
            const id = button.getAttribute('data-id');
            const change = parseInt(button.getAttribute('data-change'));
            updateQuantity(id, change);
        });
    });

    const cartId = '{{user.cart}}';
    document.querySelectorAll('.addToCartButton').forEach(button => {
        button.addEventListener('click', async () => {
            const productId = button.dataset.productid;
            const quantity = document.getElementById(`quantityInput-${productId}`).value;
            
            try {
                const response = await fetch(`/api/carts/${cartId}/${productId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ quantity })
                });

                if (response.ok) {
                    Swal.fire('', 'Producto agregado al carrito', 'success');
                } else {
                    Swal.fire('¡Error!', 'Error al agregar el producto', 'error');
                }
            } catch (error) {
                console.error('Error al agregar el producto', error);
                Swal.fire('Error interno', 'Error interno del servidor', 'error');
            }
        });
    });
    </script>
    <script>
        document.getElementById('goToCartButton').addEventListener('click', () => {
            const cartId = '{{user.cart}}'; 
            window.location.href = `/api/carts/${cartId}`;
        });
    </script>
</body>
</html>
